/*
    Author: Ajala AbdulSamii Olalekan
    Email: kgasta@gmail.com
    Github: github.com/jalasem
    Note: I have written some custom css here to help you through your design
*/

@import url('https://fonts.googleapis.com/css?family=Rubik');
html,
body {
	font-family: Rubik, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #f8f9fd !important;
}

nav>.container {
	width: 90%;
}

@media only screen and (min-width: 180px) {
	body {
		font-size: 80%;
	}
}

@media only screen and (min-width: 320px) {
	body {
		font-size: 90%;
	}
}

@media only screen and (min-width: 375px) {
	body {
		font-size: 100%;
	}
}

@media only screen and (min-width: 414px) {
	body {
		font-size: 110%;
	}
}


/*font size adjustments
    in your html you can use them for icons and text
    e.g <i class="icon ion-social-facebook x15"></i> to adjut the font-size of the icon to 1.5rem
*/

.x1 {
	font-size: 1rem;
}

.x15 {
	font-size: 1.5rem;
}

.x2 {
	font-size: 2rem;
}

.x25 {
	font-size: 2.5rem;
}

.x3 {
	font-size: 3rem;
}

.x35 {
	font-size: 3.5rem;
}

.x4 {
	font-size: 4rem;
}

.x45 {
	font-size: 4.5rem;
}

.x5 {
	font-size: 5rem;
}

.x55 {
	font-size: 5.5rem;
}

ul.social i.icon {
	margin-right: 1rem;
}

header,
main,
footer {
	padding-left: 260px;
}

@media only screen and (max-width: 992px) {
	header,
	main,
	footer {
		padding-left: 0;
	}
}

nav.transparent {
	box-shadow: 0 0 0;
	border: solid 1px #edf1f9;
	height: 92px;
	line-height: 92px;
}

nav#nav2 {
	border: solid 1px #edf1f9;
}

a.profile_pic img {
	width: 33px;
	height: 33px;
	margin-right: 30px;
	margin-top: 30px;
}

a[data-activates="slide-out"] {
	color: #121a2c
}

ul#slide-out {
	width: 260px;
	height: 1024px;
	background-image: linear-gradient(to bottom, #2A3958, #121a2c);
	padding-top: 61px;
}

ul#slide-out li a {
	color: #fff;
}

li.bal_label a img {
	width: 15px;
	height: 14px;
	margin-right: 17px;
}

li.bal_label a img+span {
	font-size: 15px;
	color: #55637c;
}

span.bal {
  font-size: 36px;
  display: block;
  color: #fff;
  border-bottom: #55637c solid 1px;
  max-width: 13rem;
}

li.options_start a {
	margin-top: 10rem;
}

#nav2 {
	position: relative;
}

#nav2 a.brand-logo {
	line-height: 100%;
	padding-top: 1.5rem;
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	color: #293856;
}

#nav2 a.brand-logo span {
	font-size: 10px;
	text-align: left;
	color: #cccccc;
}

#nav2 a.brand-logo span small {
	font-size: 100%;
}

#nav2 .status {
	width: 106px;
	height: 20px;
	border-radius: 100px;
	background-color: #00bc5e;
	border: solid 1px #00bc5e;
	color: white;
	line-height: 150%;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 12px;
}

#nav2 .dot {
	width: 5px;
	height: 5px;
	border-radius: 5rem;
	background: white;
	margin-right: 7px;
	display: inline-table;
	margin-bottom: 1px;
}

#nav2 .btn.green {
	background: #00bc5e !important;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 14px;
}

main {
	padding-top: 30px;
}

main .container {
	min-width: 90%;
}

main .card-panel {
	padding-top: 2rem;
	position: relative;
	padding-bottom: 2.5rem;
	min-height: 150px;
}

main .card-panel .dot {
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #00bc5e;
	display: inline-table;
	margin-bottom: 2px;
	margin-right: 5px;
}

main .card-panel .desc {
	position: absolute;
	width: 107px;
	height: 100%;
	right: 0;
	border-left: solid 1px #f8f9fd;
	top: 0;
	padding-top: 3px;
	font-size: 14px;
	color: #f19900;
	text-align: center;
}

main .card-panel button.edit+.desc p {
	font-size: 14px;
}

main .card-panel button.edit+.desc img {
	margin-top: -2rem;
}

p.active-package {
	font-size: 12px;
	line-height: 100%;
	margin-bottom: 0;
}

button.edit {
	border: 1px solid #727375;
	font-size: 8px;
	border-radius: 3rem;
	background: white;
	padding: 1px 1rem;
	margin-left: 22%;
}

main .card-panel img.request {
	width: 15px;
}

main .card-panel .desc .figure {
	font-size: 48px;
	color: #4a4a4a;
}

main .card-panel .request {
	color: #4a4a4a;
}

main .card-panel .request-dot {
	width: 8px;
	height: 8px;
	background: #435fdf;
	display: table-cell;
	position: absolute;
	left: 2.65rem;
	margin-top: -3px;
	border-radius: 8px;
}

.side-nav li>a:hover,
.side-nav li>a.active {
	background-color: #2a3a58;
}

ul#slide-out li a span.icon {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 2.2rem;
	top: 10px;
}

.icon.dashboard {
	background: url('../images/dash.png');
}

.icon.topup_wallet {
	background: url('../images/naira_purse.png');
}

.icon.lock {
	background: url('../images/lock.png');
}

.icon.profile,
.icon.packages {
	background: url('../images/profile.png');
}

.icon.logs {
	background: url('../images/logs.png');
}

.card-panel.profile-card {
	padding-left: 13rem;
	padding-top: 3rem;
}

.card-panel.profile-card img.profile-img_on_card {
	border: 1px solid #979797;
	border-radius: 50%;
	position: absolute;
	left: 3.5rem;
	top: 32px;
}

.card-panel.profile-card .user_name {
	color: #24314c;
	font-size: 24px;
}

.card-panel.profile-card p.profession {
	color: #cccccc;
	font-size: 1.1rem;
}

ul#slide-out li.menu a {
	padding-left: 5rem;
	position: relative;
}

.card-panel.top_up-card {
	padding-left: 3.5rem;
	padding-right: 3.5rem;
}

.card-panel.profile-card .input-field.inline {
	min-width: 45%;
}

.card-panel.top_up-card .input-field input[type=text] {
	padding-left: 5px;
}

.card-panel.top_up-card .input-field input[type=text]:focus {
	border: 1px solid #00bc5e;
}

.input-field label:not(.label-icon).active {
	padding-bottom: 0.5rem;
}

.btn.green {
	background: #00bc5e !important;
	font-size: 14px;
}

.card-panel.top_up-card .btn.green {
	margin-top: 20px;
}

#success-modal img.success {
	width: 154px;
}

#failure-modal img.failure {
	width: 72.8px;
}

#success-modal img.success-shadow {
	width: 60px;
	position: absolute;
	top: 17rem;
	left: 45.5%;
}

#failure-modal img.failure-shadow {
	width: 40px;
	position: absolute;
	top: 9rem;
	left: 48%;
}

#success-modal .success-text {
	font-size: 36px;
	color: #00bc5e;
}

#failure-modal .failure-text {
	color: #ff6969;
	font-size: 36px;
}

#success-modal .success-word {
	color: #908787;
	font-size: 24px;
}

#failure-modal .failure-word+button.btn,
#success-modal .success-word+button.btn {
	font-size: 18px;
	color: white;
	height: 40px;
	text-transform: initial;
}

.modal .modal-content {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.modal {
	max-height: 90%;
	top: 7% !important;
}

.current-p {
  background: #f02a04 !important;
  font-size: 13px;
  height: 35px;
  padding: 10px 2rem;
  border-radius: 2rem;
  color: white;
  top: -1rem;
  position: absolute;
  left: 25%;
  line-height: 15px;
}

p.plan-label {
color: #4a4a4a;
font-size: 20px;
margin-top: 0rem;
}

p.details {
  font-size: 12px;
  color: #b2b0b0;
  padding: 0 1rem;
  text-align: justify;
}

button.plan-btn {
  background-color: #00bc5e;
  size: 15px;
  color: white;
  text-align: center;
  border: 0 solid;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
	height: 3.5rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

button.plan-btn.current {
	opacity: 0.22;
}

.plan-card {
	padding-bottom: 4rem;
	position: relative;
	border-radius: 10px;
	cursor: pointer;
}

.plan-card [alt="silver"], .plan-card [alt="gold"], .plan-card [alt="plantinum"] {
  width: 80px;
  margin-top: 2rem;
}

.plan-card [alt="plantinum"] {
	margin-top: 1.8rem;
}

.label-bg {
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
	padding-bottom: 0.5rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.label-bg.gold-bg {
	background: #f0b104 !important;
}

.label-bg.silver-bg {
	background: #f1f3fb !important;
}

.label-bg.platinum-bg {
	background: #eaeeff !important;
}

.card-panel>.heading {
background: #f8f9fd;
}

.search-box {
	position: relative;
}

.search-box i.icon {
	position: absolute;
  left: -1.5rem;
  bottom: -0.4rem;
}

.card-panel table thead {
	font-size: 10px;
	color: #727272;
background: #f8f9fd;
border-bottom: 0 solid;
}

.card-panel table tbody tr {
	font-size: 11px;
	color: black;
}

.card-panel table tbody tr td:first-child {
	color:#db8c09;
}

#login-screen {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: #121a2c;
	padding-top: 4rem;
}

#login-screen .card {
	max-width: 25rem;
  margin: 2rem auto;
}

#login-screen img {
	height: 1.5rem;
}

@media only screen and (min-width: 601px) {
	nav,
	nav .nav-wrapper i,
	nav a.button-collapse,
	nav a.button-collapse i {
		height: 92px;
		line-height: 92px;
	}
}

@media only screen and (max-width:601px) {
	#nav2 a.brand-logo {
		left: 6rem;
	}
	nav,
	nav .nav-wrapper i,
	nav a.button-collapse,
	nav a.button-collapse i {
		height: 92px;
		line-height: 92px;
	}
}